<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<form action='/users' method='post'>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    Name:
    <input type='text' name='user[name]' />
    <br><br>
    Email:
    <input type='text' name='user[email]' />
    <br><br>
    Password:
    <input type='text' name='user[password]' />
    <br><br>
    Password Confirmation:
    <input type='text' name='user[password_confirmation]' />
    <br><br>
    <input id="button" type='submit' value='Join' />
</form>